@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .navBtn {
    @apply text-[rgba(255,255,255,0.7)] relative py-3 capitalize;
    &::before{
      content: '';
      background-color: transparent;
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      width:8px;
      height:8px;
      background-color:#eab308 ;
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
    }
    &:hover::before{
      opacity: 1;
    }
    &:hover{
      @apply text-white
    }
  }
  .subtext{
    @apply text-sm text-gray-400;
  }
  .codeLi,.bookLi{
    @apply inline-block px-7 bg-no-repeat bg-[0px_4px] leading-6
    list-none text-white
    mr-3;
  }
  .codeLi{
    @apply bg-[url('/code.png')] bg-[length:1.2em] ;
    
  }
  .bookLi{
    @apply bg-[url('/book.png')] bg-[length:1em];
  }
}
