@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .navBtn {
    @apply relative py-3 hover:before:content-[''] hover:before:w-2 hover:before:h-2 hover:before:bg-yellow-500
    hover:before:absolute hover:before:bottom-0 hover:before:left-[50%] hover:before:-translate-x-[50%] hover:before:rounded-full;
  }
  .subtext{
    @apply text-sm text-gray-400;
  }
}
